.card-title {
  background-color: blue;
  color: #fff;
  padding: 7px;
}
.card-body {
  padding: 0px !important;
}
.card-text1 {
  font-size: 16px;
  color: red;
  font-weight: 600;
  padding: 5px 16px;
}
.card-text {
  padding: 5px 16px;
  margin-bottom: 0px;
}
.padd10 {
  margin-bottom: 10px;
}
